<title><%= title %></title>

<% include('../layouts/header.ejs') %>

<section class="dashboard">
  <nav>
    <div class="custom-user-info">
      <div class="imgcon">
        <img src="<%= src %>" alt="Profile Image" class="admin-img" />
      </div>
      <span><%= names %></span>
    </div>
  
    <div class="center-links">
      <a href="#" onclick="showList()" id="ho">Change List</a>
      <a onclick="add()">Add User</a>
    </div>
  
    <a href="/admin/logoutsdffhfkgvhkjdjdfhjsdh">Logout</a>
  </nav>
  
  

  <div class="table-container">
    <table id="table" class="show-table" style="display: none">
      <thead>
        <tr>
          <th class="column-header">Name</th>
          <th class="column-header">Description</th>
          <th class="column-header">Category</th>
          <th class="column-header">Image</th>
        </tr>
      </thead>
      <tbody>
        <% shows.forEach(show => { %>
        <tr class="data-row">
          <td class="user-info show-name"><%= show.name %></td>
          <td class="user-info show-description"><%= show.description %></td>
          <td class="user-info show-category"><%= show.category %></td>
          <td class="user-info">
            <img src="<%= show.src %>" alt="No Image" class="profile-image" />
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

  <div class="table-container" id="movie">
    <form id="editForm" method="POST" style="display: none">
      <input type="text" name="new" placeholder="Enter new value" />
      <button type="submit">Submit</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Admin</th>
          <th>Email</th>
          <!-- <th>Password</th> -->
          <th>Profile</th>
          <th>Delete</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user => { %>
        <tr>
          <td class="user-info"><%= user.name %></td>
          <td class="user-info"><%= user.is_admin %></td>
          <td class="user-info"><%= user.email %></td>
          <!-- <td class="user-info">****</td> -->
          <td class="user-info">
            <img src="<%= user.file %>" alt="No Image" class="profile-image" />
          </td>
          <td>
            <a
              href="#"
              onclick="confirmDelete('<%= user.id %>')"
              class="delete-btn"
              >Delete</a
            >
          </td>
          <td class="dropdown-menu">
            <div class="dropdown">
              <button class="dropbtn">Edit</button>
              <div class="dropdown-content">
                <a onclick="toggleEdit('mail', '<%= user.id %>')">Email</a>
                <a onclick="toggleEdit('name', '<%= user.id %>')">Name</a>
              </div>
            </div>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</section>

<section class="sec" id="sec">
  <div class="login hide-login">
    <form
      class="login-container hide-form"
      action="/admin/newUser"
      method="post"
      enctype="multipart/form-data"
    >
      <div class="input-container hide-section">
        <span class="lss"><h2>Add User</h2></span>
        <% if (typeof msg !== 'undefined') { %>
        <p style="color: #011c3a"><%= msg %></p>
        <% } %>
        <div class="form-group">
          <input
            required
            type="text"
            id="name"
            name="name"
            placeholder="Enter your name"
          />
        </div>
        <div class="form-group">
          <input
            required
            type="email"
            id="email"
            name="email"
            placeholder="Enter your email"
          />
          <small
            class="form-text text-left"
            style="display: none; color: red"
            id="error"
          ></small>
        </div>

        <div class="form-group">
          <input
            required
            type="file"
            class="custom-file-input"
            id="exampleInputFile"
            name="file"
          />
        </div>

        <div class="form-group">
          <input
            required
            type="password"
            id="password"
            name="password"
            placeholder="Enter your password"
            autocomplete="off"
          />
          <small
            class="form-text text-left"
            style="display: none; color: red"
            id="errorpass"
          ></small>
        </div>
        <div class="form-group">
          <input type="submit" value="Add user" />
        </div>
      </div>
    </form>
  </div>
</section>

<% include('../layouts/footer.ejs') %>

<script>
const add = () => {
  const secElement = document.getElementById("sec");
  if (secElement) {
    secElement.scrollIntoView({ behavior: "smooth" });
  }
};

  let count = 1;
  function showList() {
    count++;
    let ta = document.getElementById("table");
    let tb = document.getElementById("movie");
    document.getElementById("ho").value = "Movie";
    if (count % 2 == 0) {
      ta.style.display = "block";
      tb.style.display = "none";
    } else {
      tb.style.display = "block";
      ta.style.display = "none";
    }
  }

  function confirmDelete(userId) {
    if (confirm("Are you sure you want to delete this user?")) {
      window.location.href = `/admin/delete?id=${userId}`;
    }
  }

  function toggleEdit(type, userId) {
    var form = document.getElementById("editForm");
    var input = form.querySelector("input");

    if (type === "name") {
      form.action = `/admin/edit/name?id=${userId}`;
    } else if (type === "mail") {
      form.action = `/admin/edit/mail?id=${userId}`;
    }

    form.style.display =
      form.style.display === "none" || form.style.display === ""
        ? "block"
        : "none";
    if (form.style.display === "block") {
      input.focus();
    }
  }
  document.addEventListener("DOMContentLoaded", function () {
    const section = document.querySelector(".hide-section");
    const formContainer = document.querySelector(".login-container");
    const loginContainer = document.querySelector(".login");
    const profile = document.querySelector("img");
    const emailInput = document.querySelector('input[id="email"]');
    const errorParagraphEmail = document.getElementById("error");
    const passwordInput = document.querySelector('input[id="password"]');
    const errorParagraphPassword = document.getElementById("errorpass");

    // Toggle login form visibility on profile image click
    profile.addEventListener("click", () => {
      loginContainer.classList.toggle("hide-login");
      formContainer.classList.toggle("hide-form");

      setTimeout(() => {
        section.classList.toggle("hide-section");
      }, 1000);
    });

    // Email input validation
    emailInput.addEventListener("input", function (event) {
      const enteredEmail = event.target.value;

      if (!isValidEmail(enteredEmail)) {
        errorParagraphEmail.textContent = "Invalid email address format";
        errorParagraphEmail.style.display = "block";
        emailInput.style.border = "1px solid red";
      } else {
        errorParagraphEmail.textContent = "";
        errorParagraphEmail.style.display = "none";
        emailInput.style.border = "";
      }
    });

    // Password input validation
    passwordInput.addEventListener("input", function (event) {
      const enteredPassword = event.target.value;

      if (!isValidPassword(enteredPassword)) {
        errorParagraphPassword.textContent =
          "Password must be at least 4 characters";
        errorParagraphPassword.style.display = "block";
        passwordInput.style.border = "1px solid red";
      } else {
        errorParagraphPassword.textContent = "";
        errorParagraphPassword.style.display = "none";
        passwordInput.style.border = "";
      }
    });

    // Function to validate email format
    function isValidEmail(email) {
      const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      return emailRegex.test(email);
    }

    // Function to validate password (replace with your logic)
    function isValidPassword(password) {
      // Allow any characters, just ensure the length is at least 4
      return password.length >= 4;
    }
  });
</script>

<style>
  nav {
  background-color: #305d7c;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgcon {
  margin-right: auto;
}

.admin-img {
  width: 40px;
  border-radius: 50%;
  height: 40px;
}

.custom-user-info {
  display: flex;
  align-items: center;
}

.custom-user-info span {
  color: white;
  font-size: 16px;
  margin-left: 10px;
}

.center-links {
  display: flex;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ff4d4d;
}

  .user-info,
  .user-action {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .user-action {
    display: flex;
    align-items: center;
  }

  .user-action a {
    margin: 5px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .user-action a:hover {
    background-color: #ff4d4d;
    transform: scale(1.1);
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropbtn {
    background-color: #4da6ff;
    color: #fff;
    padding: 6px 12px;
    width: 60px;
    height: 30px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .dropbtn:hover {
    background-color: #4080bf;
    transform: scale(1.1);
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
  }

  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #305d7c;
  }

  .dashboard {
    text-align: center;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
  }

  h1 {
    color: #305d7c;
  }

  .logout-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #305d7c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .logout-btn:hover {
    background-color: #2a3943;
    transform: scale(1.1);
  }

  .table-container {
    margin-top: 20px;
    overflow-x: auto;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #305d7c;
    color: #fff;
  }

  td {
    color: #333;
  }

  .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .delete-btn,
  .dropbtn {
    display: inline-block;
    padding: 6px 12px;
    margin: 5px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .delete-btn {
    background-color: #ff4d4d;
  }

  .delete-btn:hover,
  .dropbtn:hover {
    transform: scale(1.1);
  }

  .sec {
    position: relative;
    height: 500px;
    overflow: hidden;
    z-index: 2;
  }

  body {
    background: linear-gradient(45deg, #5d5c61, #379683);
    font-family: "Open Sans", sans-serif;
    color: #5d5c61;
  }

  form {
    text-align: center;
    height: fit-content;
    padding: 30px;
    z-index: 3;
  }

  .login {
    height: fit-content;
    width: 400px;
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    box-shadow: 0 5px 6px #00000036;
    transform: translate(-50%, -50%);
    border-radius: 22px;
    overflow: hidden;
    transition: 1s;
    background: linear-gradient(45deg, #7395ae, #557a95);
  }

  /* Reset top and bottom margins from certain elements */
  .login-header,
  .login p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .input-container {
    opacity: 1;
    transition: 1s;
  }

  .alter {
    color: #b1a296;
  }

  .login-header {
    background: #5d5c61;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding-top: 32px;
  }

  .lss {
    color: w;
  }

  .login-container {
    background: linear-gradient(45deg, #557a95, #7395ae);
    padding: 40px 30px;
    transition: 1s;
    margin-bottom: 0;
  }

  .login p {
    padding: 12px;
  }

  input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 0 0 2px; /* Set bottom border only */
    border-style: solid;
    padding: 6px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
    background: none; /* Set background to none */
    margin-bottom: 20px; /* Add margin to create space between fields */
  }

  input::placeholder {
    color: #aabbcc; /* Specify the desired color */
  }

  .login input[type="email"],
  .login input[type="password"],
  .login input[type="file"] {
    border-color: #7395ae; /* Set border color */
    color: #f3f4f5;
  }

  /* Text fields' focus effect */
  .login input[type="email"]:focus,
  .login input[type="password"]:focus,
  .login input[type="file"]:focus {
    border-color: #7395ae;
  }

  input[type="submit"] {
    background-color: #305d7c;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  input[type="submit"]:hover {
    background-color: #2a3943;
    transform: scale(1.1);
  }
  .btn {
    background-color: #305d7c;
    border: none;
    color: #fff;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .btn-hover {
    background-color: #2a3943;
    transform: scale(1.1);
  }

  .form-group {
    margin-bottom: 20px;
    position: relative;
  }

  .form-group #error {
    position: absolute;
    bottom: -20px; /* Adjust this value to control the distance from the input field */
    left: 0;
    width: 100%;
    margin-left: 0%;
    font-size: 0.8em;
    color: red; /* Set the color for error messages */
  }

  .form-group #errorpass {
    position: absolute;
    bottom: -20px; /* Adjust this value to control the distance from the input field */
    left: 0;
    width: 100%;
    margin-left: 0%;
    font-size: 0.8em;
    color: red; /* Set the color for error messages */
  }

  .already-account {
    margin-top: 20px;
    color: #305d7c; /* Your color theme */
  }

  .already-account a {
    color: #305d7c; /* Your color theme */
    text-decoration: none;
    transition: color 0.3s ease; /* Add transition for smooth effect */
  }

  .already-account a:hover {
    color: #482aaa;
    text-decoration: underline;
    font-size: large;
    transform: scale(0.1);
  }
</style>

<% include('../layouts/footer.ejs') %>
